<html>
	<head>
		<link rel="stylesheet" href='../static/style.css' />
	</head>
	<body>
		<div class="title">
			<div class="titleSec">
				<span class="imageTitle">
					<img id="logo" src="img/raspberry-pi-logo.png">
				</span>
				<span class="spanVacio"></span>
				<span class="textTitle">
					<i>Diseño de Aplicaciones para RaspberryPi</i>
				</span>
			</div>
		</div>
		<div class="container">
			<div class="main">
				<div>
				<h2>Bienvenido a la aplicacion de temperatura y humedad para Raspberry</h2>
				</div>
				<div>
					<h3>Descripción</h3>
					<p>Esta aplicación proporcina información sobre la temperatura y la humedad recogidas por el sensor am2320 conectado a la RaspberryPi 3 Model B</p>
				</div>
					</br>
				<div class="btn">
					<span><a href="menu">Entrar</a></span>
					<div class="dot"></div>
				</div>	
			</div>
		</div>
		<div class="bottom">
			<span calss="upm">
				<img id="logoUPM" src="img/logoUPM.png"/>
			</span>
			<span class="etsist">
				<img id="logoETSIST" src="img/logoETSIST.gif"/>
			</span>
		</div>
	</body>

</html>