<html>
	<head>
		<link rel="stylesheet" href='../static/style.css' />
	</head>
	<body>
		<div class="title">
			<div class="titleSec">
				<span class="imageTitle">
					<img id="logo" src="img/raspberry-pi-logo.png">
				</span>
				<span class="spanVacio"></span>
				<span class="textTitle">
					<i>Diseño de Aplicaciones para RaspberryPi</i>
				</span>
			</div>
		</div>

		<div class="container">
			<div class="main">
				<div>
				<h2>Menú principal</h2>
				</div>
				<br/>
				<div class="btn">
					<span><a href="/temp/th">Temp y hume</a></span>
					<div class="dot"></div>
				</div>
				<br/>
				<div class="btn">
					<span><a href="/temp/t">Temperatura</a></span>
					<div class="dot"></div>
				</div>
				<br/>
				<div class="btn">
					<span><a href="/temp/h">Humedad</a></span>
					<div class="dot"></div>
				</div>
				<div><p>Volver al <a href="/">index</a></p></div>
			</div>
		</div>
		<div class="bottom">
			<span calss="upm">
				<img id="logoUPM" src="img/logoUPM.png"/>
			</span>
			<span class="etsist">
				<img id="logoETSIST" src="img/logoETSIST.gif"/>
			</span>
		</div>
	</body>

</html>