<html>
	<head>
		<link rel="stylesheet" href='../static/style.css' />
	</head>
	<body>
		<div class="title">
			<div class="titleSec">
				<span class="imageTitle">
					<img id="logo" src="/../img/raspberry-pi-logo.png">
				</span>
				<span class="spanVacio"></span>
				<span class="textTitle">
					<i>Diseño de Aplicaciones para RaspberryPi</i>
				</span>
			</div>
		</div>

		<div class="container">
			<div class="main">
				<div><h2>Lecturas del sensor</h2></div>
				<br/>
				<div>
					{% if temp %}
					<p>Temperatura: {{temp}}</p>
					{% endif %}
					<div class="barra">
						{% if tableTemp %}
							{{tableTemp | safe}}
						{% endif %}
					</div>

					{% if hum %}
					<p>Humedad: {{hum}}</p>
					{% endif %}
					<div class="barra">
						{% if tableHum %}
							{{tableHum | safe}}
						{% endif %}
					</div>
				</div>	
				<p>Volver al <a href="/menu">menu</a></p>
				<br/>
			</div>
		</div>
		<div class="bottom">
			<span calss="upm">
				<img id="logoUPM" src="/../img/logoUPM.png"/>
			</span>
			<span class="etsist">
				<img id="logoETSIST" src="/../img/logoETSIST.gif"/>
			</span>
		</div>
			
	</body>

</html>