<html>
	<head>
		<script>
			function cambioEstilo(urlEstilo){
				var stylesheet = document.getElementById("stylesheet");
       			stylesheet.setAttribute('href', urlEstilo);
			}
		</script>

		<link id="stylesheet" rel="stylesheet" href='../static/style.css' />
	</head>
	<body>
		<div class="title">
			<div class="titleSec">
				<span class="imageTitle">
					<a href="/"><img id="logo" src="img/raspberry-pi-logo.png"></a>
				</span>
				<span class="spanVacio"></span>
				<span class="textTitle">
					<i>Diseño de Aplicaciones para RaspberryPi</i>
				</span>
			</div>
		</div>

		<div class="container">
			<div class="main">
				<div>
				<h2>Menú principal</h2>
				</div>
				<br/>
				<div class="btn">
					<a href="/temp/th" class="botonEnlace"><span>Temp y hume</span></a>
					<div class="dot"></div>
				</div>
				<br/>
				<div class="btn">
					<a href="/temp/t" class="botonEnlace"><span>Temperatura</span></a>
					<div class="dot"></div>
				</div>
				<br/>
				<div class="btn">
					<a href="/temp/h" class="botonEnlace"><span>Humedad</a></span>
					<div class="dot"></div>
				</div>
				<br/>
				<div class="btn">
					<a href="/menu/calefaccion" class="botonEnlace"><span>Calefaccion</a></span>
					<div class="dot"></div>
				</div>
				
				<div><p>Volver al <a href="/">index</a></p></div>
			</div>
		</div>
		<div class="bottom">
			<div style="display: flex; font-size: 16px;">
				<div style="margin-left: 42%; margin-right: 5%">
					<a onclick="cambioEstilo('../static/style.css')" href="#">Estilo 1</a>
				</div>
				<div style="margin-left: 0px;">
					<a onclick="cambioEstilo('../static/styleDark.css')" href="#">Estilo 2</a>
				</div>
			</div>
			<span calss="upm">
				<img id="logoUPM" src="img/logoUPM.png"/>
			</span>
			<span class="etsist">
				<img id="logoETSIST" src="img/logoETSIST.gif"/>
			</span>
		</div>
	</body>

</html>