<html>
	<head>
		<script>
			function cambioEstilo(urlEstilo){
				var stylesheet = document.getElementById("stylesheet");
       			stylesheet.setAttribute('href', urlEstilo);
			}
		</script>

		<link id="stylesheet" rel="stylesheet" href='../static/style.css' />
	</head>
	<body>
		<!-- socketio -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" charset="utf-8">
		</script>
		<script>
			const socket = io();
			socket.emit('lectura', window.location.pathname);
			socket.on('lect', function(lectura){
				var temp = lectura['temp'];
				var hum = lectura['hum'];
				var tableTemp = lectura['tableTemp'];
				var tableHum =lectura['tableHum'];

				//Reescritura de medidas y barras
				if (temp != null)
					document.getElementById("temperaturah4").innerHTML = "Temperatura: "+temp+"&deg;C";
				if (hum != null)
					document.getElementById("humedadh4").innerHTML = "Humedad: "+hum+"%";
				if (tableTemp != null)
					document.getElementById("barraTemp").innerHTML = tableTemp;
				if (tableHum != null)
					document.getElementById("barraHume").innerHTML = tableHum;

				//Creacion de MARCADORES debido al cambio de temperatura
				var marcadorTemp = '';
				var marcadorHum = '';
					//Marcadores temperatura
				if (temp != null){
					if (temp < 0.0){
						marcadorTemp += '<div style="margin-right: 16.8%; margin-left: 1px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
						marcadorTemp += '</div>';
					}
					else if (temp >= 0.0 && temp <= 70.0){
						marcadorTemp += '<div style="margin-right: 16.8%; margin-left: 3px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
						marcadorTemp += '</div>';
					}
					else {
						marcadorTemp+='<div style="margin-right: 16.8%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
						marcadorTemp+='</div>';
					}
					marcadorTemp += '<div style="margin-right: 16.66%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
					marcadorTemp += '</div>';
					marcadorTemp += '<div style="margin-right: 15.9%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
					marcadorTemp += '</div>';
					marcadorTemp += '<div style="margin-right: 16.66%; argin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
					marcadorTemp += '</div>';
					marcadorTemp += '<div style="margin-right: 16.66%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
					marcadorTemp += '</div>';
					if (temp < 0.0){
						marcadorTemp += '<div style="margin-right: 15.2%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
						marcadorTemp += '</div>';
					}
					else if (temp >= 0.0 && temp <= 70.0){
						marcadorTemp += '<div style="margin-right: 14.4%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
						marcadorTemp += '</div>';
					}
					else{
						marcadorTemp += '<div style="margin-right: 15.9%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
						marcadorTemp += '</div>';
					}
					marcadorTemp += '<div style="margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
					marcadorTemp += '</div>';
				}
				
					//Marcadores de humedad
				if (hum!=null){
					if (hum > 90){
						marcadorHum += '<div style="margin-right: 24.8%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
						marcadorHum += '</div>';
					}
							    
					else if (hum < 10){
						marcadorHum += '<div style="margin-right: 24.8%; margin-left: 2px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
						marcadorHum += '</div>';
					}
					else{
						marcadorHum += '<div style="margin-right: 24.8%; margin-left: 2px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
						marcadorHum += '</div>';
					}

					marcadorHum += '<div style="margin-right: 24.8%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
					marcadorHum += '</div>';
					marcadorHum += '<div style="margin-right: 24.8%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
					marcadorHum += '</div>';
					if (hum > 90){
						marcadorHum += '<div style="margin-right: 24.8%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
						marcadorHum += '</div>';
					}	
					else if (hum < 10){
						marcadorHum += '<div style="margin-right: 23.6%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
						marcadorHum += '</div>';
					}
					else{
						marcadorHum += '<div style="margin-right: 23.8%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
						marcadorHum += '</div>';
					}

					marcadorHum += '<div style="margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">';
					marcadorHum += '</div>';

				}

				//Reescritura de marcadores
				if(temp != null)
					document.getElementById("marcadoresTemp").innerHTML = marcadorTemp;

				if(hum != null)
					document.getElementById("marcadoresHum").innerHTML = marcadorHum;
				
				socket.emit('lectura', window.location.pathname);
				
			});

			function cierreSocket(){
				socket.emit('desconectar', '');
			}
		</script>

		<div class="title">
			<div class="titleSec">
				<span class="imageTitle">
					<a href="/" onclick="cierreSocket()"><img id="logo" src="/../img/raspberry-pi-logo.png"></a>
				</span>
				<span class="spanVacio"></span>
				<span class="textTitle">
					<i>Diseño de Aplicaciones para RaspberryPi</i>
				</span>
			</div>
		</div>

		<div class="container">
			<div class="main">
				<div><h2>Lecturas del sensor</h2></div>
				<span><p><a href="/logout">Desconectar</a></p></span>
				<br/>

				<div>
					{% if temp %}
						<h4 id="temperaturah4">Temperatura: {{temp}}&deg;C</h4>
						<div style="display: flex; width:100%;">
						    <div style="margin-left: -10px; margin-right: 12%">
						       	-40&deg;C
						    </div>
						    <div style="margin-left: 0px; margin-right: 12%">
						    	-20&deg;C
						    </div>
						    <div style="margin-left: 0px; margin-right: 12%">
						    	0&deg;C
						    </div>
						    <div style="margin-left: 0px; margin-right: 12%">
						    	20&deg;C
						    </div>
						    <div style="margin-left: 0px; margin-right: 12.4%">
						    	40&deg;C
						    </div>
						    <div style="margin-left: 0px; margin-right: 11.6%">
						    	60&deg;C
						    </div>
						    <div style="margin-left: 0px;">
						    	80&deg;C
						    </div>
						</div>
						<div id="marcadoresTemp" style="display:flex; width:100%;">
							{% if temp < 0.0 %}
								<div style="margin-right: 16.8%; margin-left: 1px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
						    	</div>
						    {% elif temp >= 0.0 and temp <= 70.0 %}
						    	<div style="margin-right: 16.8%; margin-left: 3px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
						    	</div>
						    {% else %}
						    	<div style="margin-right: 16.8%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
						    	</div>
							{% endif %}
						    
						    <div style="margin-right: 16.66%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
						    </div>
						    <div style="margin-right: 15.9%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
						    </div>
						    <div style="margin-right: 16.66%; argin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
						    </div>
						    <div style="margin-right: 16.66%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
						    </div>
						    {% if temp < 0.0 %}
							    <div style="margin-right: 15.2%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
							    </div>
							{% elif temp >= 0.0 and temp <= 70.0 %}
								<div style="margin-right: 14.4%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
							    </div>
						    {% else %}
						   		<div style="margin-right: 15.9%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
							    </div>
						    {% endif %}
						    <div style="margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
						    </div>
						</div>
						<div id="barraTemp" class="barra">
							{% if tableTemp %}
								{{tableTemp | safe}}
							{% endif %}
						</div>
					{% endif %}
					

					{% if hum %}
						<h4 id="humedadh4">Humedad: {{hum}}%</h4>
						<div style="display: flex; width:100%;">
						    <div style="margin-left: -2px; margin-right: 21.3%">
						       	0%
						    </div>
						    <div style="margin-left: 0px; margin-right: 20.3%">
						    	25%
						    </div>
						    <div style="margin-left: 0px; margin-right: 21%">
						    	50%
						    </div>
						    <div style="margin-left: 0px; margin-right: 20%">
						    	75%
						    </div>
						    <div style="margin-left: 0px; margin-right: 12.4%">
						    	100%
						    </div>
						</div>
						<div id="marcadoresHum" style="display:flex; width:100%;">
						     {% if hum > 90 %}
							    <div style="margin-right: 24.8%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
							    </div>
						    
						    {% elif hum < 10 %}
						    	<div style="margin-right: 24.8%; margin-left: 2px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
							    </div>
						    {% else %}
						    	<div style="margin-right: 24.8%; margin-left: 2px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
							    </div>
						    {% endif %}
						    <div style="margin-right: 24.8%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
						    </div>
						    <div style="margin-right: 24.8%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
						    </div>
						    {% if hum > 90 %}
							    <div style="margin-right: 24.8%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
						    	</div>
							{% elif hum < 10 %}
								<div style="margin-right: 23.6%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
							    </div>
							{% else %}
								<div style="margin-right: 23.8%; margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
							    </div>
							{% endif %}
								<div style="margin-left: 0px; height: 0.5em; width: 0px; border-style: solid; border-width: 1px;">
							    </div>
						</div>
						<div id="barraHume" class="barra">
							{% if tableHum %}
								{{tableHum | safe}}
							{% endif %}
						</div>
					{% endif %}
					
				</div>	
				<p>Volver al <a onclick="cierreSocket()" href="/menu">menu</a></p>
				<br/>
			</div>
		</div>
		<div class="bottom">
			<div style="display: flex; font-size: 16px;">
				<div style="margin-left: 42%; margin-right: 5%">
					<a onclick="cambioEstilo('../static/style.css')" href="#">Estilo 1</a>
				</div>
				<div style="margin-left: 0px;">
					<a onclick="cambioEstilo('../static/styleDark.css')" href="#">Estilo 2</a>
				</div>
			</div>
			<span calss="upm">
				<img id="logoUPM" src="/../img/logoUPM.png"/>
			</span>
			<span class="etsist">
				<img id="logoETSIST" src="/../img/logoETSIST.gif"/>
			</span>
		</div>
			
	</body>

</html>